<html>
    <body></body>
    <script type="text/javascript" src="scripts/jquery.js"></script>

    <script>
    function qs(key) {
        key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
        var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
        return match && decodeURIComponent(match[1].replace(/\+/g, " "));
    }
    var finusenum = qs('finusenum');
    var accessToken = localStorage.getItem('accessToken');
    $.ajax({ 
        url : "/balance",
        type : "POST",
        data : {
            accessToken : accessToken,
            finusenum : finusenum
        }
    }).done(function(data){
        console.log(data);
        document.write(data);
    });                       
    </script>
</html>