<html>
    <script src="/qrcode.js"></script>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <body>
            <div id="qrcode"></div>
            <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), "199004071057725906017893");
            </script>
    </body>
</html>